@{ ViewData["Title"] = "Home Page"; }

@model Web.ViewModel.LoginViewModel

<div class="text-center">
    <h1 class="display-4">Login de usuario na Biblioteca</h1>
</div>

<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Login" asp-controller="Autor" method="post" asp-route-returnurl="@ViewBag.ReturnUrl">
    <div class="form-group">
        <label asp-for="Login">UserName</label>
        <input type="text" asp-for="Login" class="form-control" placeholder="UserName">
    </div>
    <div class="form-group">
        <label asp-for="Password">Senha</label>
        <input type="password" asp-for="Password" class="form-control" placeholder="Senha">
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>

</form>
<br />
<br />
<p><a asp-controller="Home" asp-action="Create">Crie sua conta de login aqui</a></p>